<p>Aqui va un empleado</p>
<p>Nombre del empleado : {{nombre}}</p>
<p>Apellido del empleado : {{apellido}}</p>
<p>Edad del empleado : {{getEdad()<18 ? "Menor de edad":"Mayor de edad"}}</p>
<p>Empresa del empleado : {{empresa.value}}</p>

<br>

Introduce la empresa : <input type="text" #empresa>

<br>

<input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)">

<br>
<p>Empresa del empleado : {{empresa2.value}}</p>
Introduce la empresa : <input type="text" #empresa2 (keyup)="0">

<br>
